@import "tailwindcss";
@import "aos/dist/aos.css";

@theme inline {
  --color-primary-bg: #EEEBDD;
  --color-custom-black: #242424;
  --color-highlight: #D37748;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-xs: 400px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
